@CHARSET "ISO-8859-1";

.ui-widget, .ui-widget .ui-widget {
font-size: 90% !important;
}

.main .ui-layout-unit-content {
	background-image: url("#{resource['img:background.png']}");
	background-size: 100% 100%;
}

.nousermain .ui-layout-unit-content {
	background-image: url("#{resource['img:welcome.png']}");
	background-size: 100% 100%;
}

.Pendiente, .Pendiente .fc-event-skin {
	background-color: blue;
}

.Atendida, .Atendida .fc-event-skin {
	background-color: green;
}

.logoAlign {
	width: 50%;
	text-align: left;
}

.selectedPatientAlign {
	width: 30%;
	text-align: left;
}

.userAlign {
	width: 30%;
	text-align: left;
}

.logoutAlign {
	text-align: center;
}

.loading {
	position:fixed;
	left: 50%;
	top: 50%;
	margin-top:-50px;
	margin-left:-100px;
	z-index: 9999;
}

.loginform {
	position: fixed;
	left: 50%;
	top: 30%;
	margin-top:-50px;
	margin-left:-130px;
}

.processing {
	font-size: 200%;
	font-weight: bolder;
}

.welcome {
	width: 100%;
	height: 90%;
}