@CHARSET "ISO-8859-1";

.ui-widget, .ui-widget .ui-widget {
font-size: 90% !important;
}

.logo .ui-layout-unit-content {
	background-image: url("#{resource['img:mama-cablemas-logos.png']}");
	background-size: 100% 100%;
}

.Pendiente, .Pendiente .fc-event-skin {
	background-color: blue;
}

.Atendida, .Atendida .fc-event-skin {
	background-color: green;
}

.logoAlign {
	width: 50%;
	text-align: left;
}

.selectedPatientAlign {
	width: 30%;
	text-align: left;
}

.userAlign {
	width: 30%;
	text-align: left;
}

.logoutAlign {
	text-align: center;
}