<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>ExpedienteWeb</display-name>
 <context-param>
  <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>glass-x</param-value>
 </context-param>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 <security-constraint>
  <display-name>Admin powers</display-name>
  <web-resource-collection>
   <web-resource-name>Pacientes</web-resource-name>
   <url-pattern>/pacientes/*</url-pattern>
   <http-method>POST</http-method>
   <http-method>GET</http-method>
   <http-method>PUT</http-method>
   <http-method>DELETE</http-method>
   <http-method>OPTIONS</http-method>
   <http-method>HEAD</http-method>
   <http-method>TRACE</http-method>
  </web-resource-collection>
  <web-resource-collection>
   <web-resource-name>Citas</web-resource-name>
   <url-pattern>/citas/*</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
   <http-method>PUT</http-method>
   <http-method>HEAD</http-method>
   <http-method>DELETE</http-method>
   <http-method>OPTIONS</http-method>
   <http-method>TRACE</http-method>
  </web-resource-collection>
  <web-resource-collection>
   <web-resource-name>Administration</web-resource-name>
   <url-pattern>/admin/*</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
   <http-method>DELETE</http-method>
   <http-method>PUT</http-method>
   <http-method>HEAD</http-method>
   <http-method>OPTIONS</http-method>
   <http-method>TRACE</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Admin</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <display-name>Doctor Powers</display-name>
  <web-resource-collection>
   <web-resource-name>Pacientes</web-resource-name>
   <url-pattern>/pacientes/*</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
   <http-method>PUT</http-method>
   <http-method>HEAD</http-method>
   <http-method>DELETE</http-method>
   <http-method>OPTIONS</http-method>
   <http-method>TRACE</http-method>
  </web-resource-collection>
  <web-resource-collection>
   <web-resource-name>Citas</web-resource-name>
   <url-pattern>/citas/*</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
   <http-method>PUT</http-method>
   <http-method>DELETE</http-method>
   <http-method>HEAD</http-method>
   <http-method>OPTIONS</http-method>
   <http-method>TRACE</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Doctor</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <display-name>Tech powers</display-name>
  <web-resource-collection>
   <web-resource-name>Pacientes</web-resource-name>
   <url-pattern>/pacientes/*</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
   <http-method>PUT</http-method>
   <http-method>HEAD</http-method>
   <http-method>DELETE</http-method>
   <http-method>OPTIONS</http-method>
   <http-method>TRACE</http-method>
  </web-resource-collection>
  <web-resource-collection>
   <web-resource-name>Citas</web-resource-name>
   <url-pattern>/citas/*</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
   <http-method>PUT</http-method>
   <http-method>DELETE</http-method>
   <http-method>HEAD</http-method>
   <http-method>OPTIONS</http-method>
   <http-method>TRACE</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Tech</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <auth-method>FORM</auth-method>
  <realm-name>securityisesalud</realm-name>
  <form-login-config>
   <form-login-page>/home.xhtml</form-login-page>
   <form-error-page>/home.xhtml</form-error-page>
  </form-login-config>
 </login-config>
 <security-role>
  <role-name>Admin</role-name>
 </security-role>
 <security-role>
  <role-name>Doctor</role-name>
 </security-role>
 <security-role>
  <role-name>Tech</role-name>
 </security-role>
</web-app>
